<div data-role="view" id="tabstrip-userEdit" data-title="User edit" data-model="userViewModel">
	<header data-role="header">
		<div data-role="navbar">
			<a data-align="left" data-role="backbutton">Back</a>
			<span data-role="view-title"></span>
			<a data-align="right" data-role="button" data-icon="delete" data-bind="click:removeUser"></a>
            <a data-align="right" data-role="button" data-bind="click:saveUser">Save</a>
		</div>
	</header>
	<form id="categoryFrom" data-bind="submit: saveUser">
		<h2 data-bind="html:selectedUser.Login">Kun Béla</h2>
		<ul data-role="listview" data-style="inset">
			<li>
				Login:
				<input data-bind="value: selectedUser.Login" placeholder="Login name" required type="text" />
			</li>
			<li>
				First name:
				<input id="startDate" data-bind="value: selectedUser.FirstName" placeholder="First name" type="text" />
			</li>
			<li>
				Last name:
				<input id="endDate" data-bind="value: selectedUser.LastName" placeholder="Last name" type="text" />
			</li>
			<li>
				Password:
				<input id="usrPsw" type="password" data-bind="checked: selectedUser.Completed" />
			</li>
			<li>
				Repeat password:
				<input type="password" data-bind="checked: selectedUser.Completed" />
			</li>
		</ul>
        <h2>Groups</h2>
        <ul data-role="listview" data-style="inset">
            <li><label><input type="checkbox" value="NTA2YzQ4ODFiZjdkYmQxZDBhMDAwMGJj" data-bind="checked:selectedUser.Groups" />Administrator</label></li>
            <li><label><input type="checkbox" value="NTE2ZDU0MWJiZTAyYTI3MzE0MDAwMDAx" data-bind="checked:selectedUser.Groups" />Management</label></li>
            <li><label><input type="checkbox" value="NTE2ZDU0MjViZTAyYTI3MzE0MDAwMDAy" data-bind="checked:selectedUser.Groups" />Developer</label></li>
	    </ul>
	</form>
    <script id="groupListItem" type="text/x-kendo-template">
        <label><input type="checkbox" value="#= id#" data-bind="checked:selectedUser.Groups" />#:Name#</label>
	</script>
</div>